<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381779685536-vq06ujin24jf6207fbpjs673986ne81r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381779685536-vq06ujin24jf6207fbpjs673986ne81r</string>
	<key>API_KEY</key>
	<string>AIzaSyDk6_pxdsCSRVT-fi_rLxFoAWSOED-uyJw</string>
	<key>GCM_SENDER_ID</key>
	<string>381779685536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rsforms.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rsforms-6e943</string>
	<key>STORAGE_BUCKET</key>
	<string>rsforms-6e943.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381779685536:ios:490adb94a5a49c7b9b59c5</string>
</dict>
</plist>